.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #ccc;
  padding: 40px; /* Increase padding for larger box */
  background-color: #f5f5f5;
  border-radius: 16px; /* Increase border-radius for rounded corners */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3); /* Increase box shadow */
}

.box h2 {
  font-size: 28px; /* Increase font size for the heading */
}

.box label {
  font-size: 18px; /* Increase font size for labels */
}

.box input {
  font-size: 18px; /* Increase font size for input fields */
}

/* Additional styling for form elements can be added here */
